---
import Layout from '~/layouts/PageLayout_PochomLab_En.astro';

import Hero from '~/components/widgets/Hero_PochomLab.astro';

const metadata = {
  title: 'PochomLab - 生成AIと絵書制作を軸に、創作・技術・IP戦略を実装し、未来へ接続するラボ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero 
    lightUrl="/images/pochomlab-hero-light-en.jpg"
    darkUrl="/images/pochomlab-hero-dark-en.jpg"
  >
    <Fragment slot="title">
      <span class="text-[#FF5B50] dark:text-[#FFB74D]">Lights of the Soul</span>
      <br />
      AI Drawing
    </Fragment>

    <Fragment slot="subtitle">
      A laboratory that connects creativity, technology,
      and intellectual property strategy to the future through generative AI and Egaki-sho production.
    </Fragment>

  </Hero>

 
</Layout>
